/* .main-box .menu-box .logo img{
    max-width: 10%;
    margin-left: 30px;
    margin-top: 10px;
}
 
.main-box .menu-box .logo{
    z-index: 0;
}
 
.main-menu .menu-right{
    margin-top: 10px;
}
 
.main-menu .menu-left{
    margin-top: 10px;
}
 
 
 
.features-section .auto-container .row{
    top: 100px;
} */
 
body {
    overflow: auto !important;
    background-color: rgb(250 228 253) !important;
}

 .page-wrapper{
    background-color: rgb(250 228 253) !important;
}

.fancybox-can-drag .fancybox-image-wrap{
    background-color: rgb(250 228 253) !important;
}

.preloader {
    display: none !important;
}

.main-header{
    background-color: rgb(250 228 253);
}
.main-header .menu_wave{
    background-color: rgb(250 228 253);
    margin-bottom: -40px;
}
 
.main-box .menu-box .logo img{
    margin-left: 40px;
}
 
.main-slider{
    margin-bottom: 50px;
}
 
.testimonial-section{
    margin-bottom: 100px;
}
 
.main-footer .footer-bottom{
    background-color: gray;
}
 
/* .outer-box .inner-box{
    background-color: rgb(25, 177, 131);
} */
 
.outer-box .inner-box{
    margin: 50px 0 50px 0;
}

.shape_wrapper .overlay {
    background-color: rgb(98 104 157 / 70%);
}

.main-footer .footer-bottom{
    background-color: rgb(98 104 157);
}

.services-section:before {
    background-color: rgb(230 202 243 / 80%);
}

.donuts{
    width: 100%;
    height: 410px;
}

.portfolio-section.alternate2 {
    padding: 0px 0 40px;
}